body {
   
    background-size: contain;
    color: whitesmoke;
    font-family: "Kohinoor", Times serif;
    font-size: 14pt;
	height: 
}

.page{
	font-size: 24px;
}

.faixa{
	height: 300px;
	width: 1300px;
	background-color: #96330f;
}

.titulos_tabela{
	font-size: 30px;
	color: #5C3317;
}

.content_tabela{
	font-size: 22px;
	text-align: justify;
}

.head_table{
	background-color: white;
}

.fixed {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  width: 1400px;
  height: 130px;
  background-color: white;
  font-size: 24px;
}

.link_text{
	color: #5C3317;
}

.visual_content {
	width: 1300px;
	height: 460px;
	visibility: visible;
	background-image: banner.jpg;
}


.how_works{
	text-align: center;
	width: 1302px;
	height:1350px;
	color: black;
}

.what_comes{
	text-align: center;
	width: 1300px;
	height:1350px;
	color: black;
}

.table_text{
	text-align: center;
}


/*================ FOOTER ============*/
.footer {
	height: 100px;
    margin-top: 300px;
    position: relative;
    display: block;
    float: center;
    background-color: white;
}
